
    <!-- =========== Scripts =========  -->
    <script src="/JS/home.js"></script>
    <!-- Ionicons JS -->
    <!-- <script type="module" src="/JS/ionicons.esm.js"></script>
    <script nomodule src="/JS/ionicons.js"></script> -->

    <!-- Bootstrap JS -->
    <script src="/JS/bootstrap.bundle.min.js"></script>
  </body>
</html>
