

    <!-- =========== Scripts =========  -->
    <script src="/JS/home.js"></script>
    <!-- Bootstrap JS -->
    <script type="module" src="/JS/bootstrap.bundle.min.js"></script>
  </body>
</html>
