<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= title %>
  </title>
  <link rel="icon" type="image/png" href="/image/T-smart.png" />
  <!-- Bosstraps -->
  <link type="text/css" href="/styles/bootstrap.min.css" rel="stylesheet" />
  <!-- ICON -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <!-- ======= Styles ====== -->
    <link rel="stylesheet" type="text/css" href="/styles/aleart.css" />
  <link rel="stylesheet" type="text/css" href="/styles/LearnBoard.css" />
  
</head>

<body>
  <!-- =============== Navigation ================ -->
  <div class="container12">
    <div class="sidebar">
      <div class="menu-btn">
        <i class="fa-solid fa-angle-left"></i>
      </div>
      <div class="head">
        <div class="user-img">
          <img class="icon" src="/image/T-smart.png" alt="" loading="lazy" />
        </div>
        <div class="user-details">
          <p class="title">TSMART_LEARING</p>
          <p class="name">Hello Teacher</p>
        </div>
      </div>
      <div class="nav">
        <div class="menu">
          <p class="title">Main</p>
          <ul>
         
 <!-- Scheducle -->
 <li style=""> 
               <li>
                  <a href="/admin/teacher/teacherShedule">
                    <i  class="fa-solid fa-calendar-days"></i>
                    <span class="text">Hệ Thống Điểm Danh </span>
                  </a>
                  </li>
                <li>
                  <a href="/admin/teacher/changeSub">
<i class="fa-regular fa-window-restore"></i>
                    <span class="text">Khôi phục điểm Danh</span>
                  </a>
                  </li> 
 </li>
            

          </ul>
        </div>
      </div>
      <div class="menu">
        <p class="title">Account</p>
        <ul>
          <li>
            <a href="#" id="logoutAdmin">
              <i class="fa-solid fa-right-from-bracket icon"></i>
              <span class="text">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</html>