<div class="topbar">
  <div class="toggle">
    <img src="/image/menu.png" alt="" class="iconImage" loading="lazy" />
  </div>
  <div class="search">
    <label>
      <input type="text" placeholder="Search here" />
      <ion-icon name="search-outline"></ion-icon>
    </label>
  </div>

  <div class="user">
    <img src="/image/T-smart.png" alt="" />
  </div>
</div>
