i {
  pointer-events: none !important;
}
.viewClass {
  padding: 20px;
}

.viewClass .header {
  padding: 10px;
  color: white;
  background-color: rgba(25, 135, 84, 1);
  width: 100%;
  border-radius: 10px;
  text-align: center;
}
.contentClass {
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.contentClass .itemClass {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  display: inline-block;
  padding: 20px;
  transition: all 0.3s linear;
}
.contentClass .itemClass:hover {
  cursor: pointer;
  padding: 30px;
  border: 0.5px solid rgba(25, 135, 84, 1);
}

.itemClass p:first-child {
  font-size: 20px;
  font-weight: bold;
}
.itemClass span {
  font-weight: bold;
  margin-right: 5px;
}

.dialogAllStudents {
  position: absolute;
  width: 90vw;
  height: 90vh;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.dialogAllStudents .container {
  padding: 25px;
}
.boxFeedBack tbody tr th:first-child {
  width: 5%;
}
.boxFeedBack tbody tr th {
  background: rgba(25, 135, 84, 1);
  color: #fff;
  border-bottom: 0;
  border-top: 0;
  width: 30%;
  padding: 10px;
  border-right: 2px solid white;
}
.dialogAllStudents .container h6,
.dialogAllStudents .container .btnFeedBackBulk {
  padding: 10px;
  background-color: rgba(25, 135, 84, 1);
  color: white;
  width: 30%;
  text-align: center;
  border-radius: 20px;
}
.dialogAllStudents .container .btnFeedBackBulk {
  cursor: pointer;
  width: 100%;
}

.dialogAllStudents .container .btnFeedBackBulk:hover {
  background-color: #69d0a5;
}

#contentTable .item input {
  border: 0;
  padding: 10px;
  border-radius: 10px;
  margin-right: 20px;
  background-color: rgba(25, 135, 84, 1);
  color: white;
  font-weight: bold;
  width: 15px;
  height: 15px;
}

#contentTable .item input:hover {
  cursor: pointer;
  background-color: #a1a8e3;
}

#showAllStudents .boxFeedBack tr th:nth-child(1) label {
  cursor: pointer;
}
/* Respone  */

#contentTable .item button {
  border: 0;
  padding: 10px;
  border-radius: 10px;
  margin-right: 20px;
  background-color: rgba(25, 135, 84, 1);
  color: white;
  font-weight: bold;
}
#contentTable .item button:hover {
  cursor: pointer;
  background-color: #a1a8e3;
}
#contentTable .item button:first-child i {
  color: gold;
}
#contentTable .item button:nth-child(2) i {
  color: rgb(182, 89, 89);
}
#contentTable .item td {
  padding: 5px;
}
#contentTable .item td:first-child {
  text-align: center;
}
#contentTable .item {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}

.xmark {
  position: absolute;
  top: 15px;
  right: 20px;
}

.xmark i {
  color: black;
  font-size: 26px;
  pointer-events: none;
}

.containerStudents {
  height: 70vh;
  overflow-y: scroll;
}

.dialogAllStudents .dialogReview {
  position: absolute;
  width: 85%;
  left: 50%;
  top: 50%;
  background-color: white;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.dialogReview .container {
  padding: 10px;
}
.dialogReview .header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dialogReview .header p {
  margin: 0;
}

.dialogReview .header p:first-child {
  font-weight: bold;
}
.dialogReview .container {
  width: 100%;
}

.Evaluate .createEvaluate {
  float: left;
}

.dialogReview .container .createEvaluate {
  padding: 10px;
  background-color: rgba(25, 135, 84, 1);
  color: white;
  display: block;
  width: max-content;
  margin-left: auto;
  margin-left: 0;
  margin-top: 10px;
}

.dialogReview {
  display: none;
}
.dialogAllStudents {
  display: none;
}
.contentClass .itemClass {
  position: relative;
}

.btnClass {
  padding: 5px;
  position: absolute;
  top: 20px;
  color: red;
  font-size: 20px;
  border-radius: 5px;
  right: 10px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.editClass {
  top: 70px;
  color: green;
}

.dialogEditClass {
  display: block;
  width: 50%;
}

#formClass .btnEdit {
  margin-left: auto;
  margin-right: 0;
  width: fit-content;
  display: block;
}

.xmark {
  padding: 5px;
  background-color: rgba(25, 135, 84, 1);
  border-radius: 10px;
  transition: all 0.3s linear;
}
.xmark i {
  color: white;
}

.xmark:hover {
  cursor: pointer;
  background-color: #a1a8e3;
}

.dialogEditClass {
  display: none;
}

.show {
  display: block;
}

.contentClass .itemClass p {
  pointer-events: none;
}
#contentTable .item {
  transition: all 0.3s linear;
}
#contentTable .item:hover {
  background-color: #bfc3e7;
  cursor: pointer;
}

/*  */
.header {
  justify-content: space-around;
}

#addStudents {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  background-color: rgba(25, 135, 84, 1);
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-left: 10px;
}

#addStudents i {
  color: white;
  text-align: center;
  pointer-events: none;
}

.header {
  margin-bottom: 20px;
}
.header h6 {
  margin: 0;
}

#addStudents:hover {
  background-color: #69d0a5;
  cursor: pointer;
}

#showAllStudents .dialogAddStudents {
  position: absolute;
  width: 50%;
  height: 90%;
  background-color: white;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#IdStudentsAdd {
  border: none;
  box-shadow:
    rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding: 10px;
  border-radius: 10px;
}

.plusClass {
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(25, 135, 84, 1);
  color: white;
  margin: 0 20px;
  display: block;
  margin-left: auto;
  transition: all 0.5s linear;
}

.plusClass:hover {
  background-color: #69d0a5;
  cursor: pointer;
}

.evaluation-table {
  width: 90%;
}

/* Dialog Review Styling */
.dialogReview {
  padding: 2rem;
  border-radius: 25px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: 2px solid #198754;
}

/* Container Styling */
.dialogReview .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header Styling */
.dialogReview .container .header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 1rem;
  border-bottom: 2px solid #198754;
}

.dialogReview .container .header .nameStudents,
.dialogReview .container .header .phoneStudents {
  font-size: 1.2rem;
  font-weight: bold;
  color: #198754;
}

/* Table Styling */
.dialogReview .container .evaluation-table {
  width: 100%;
  margin: 1rem 0;
  border-collapse: collapse;
}

.dialogReview .container .evaluation-table th {
  background-color: #198754;
  color: #fff;
  padding: 0.5rem;
  text-align: left;
  font-size: 1rem;
}

.dialogReview .container .evaluation-table td {
  border: 1px solid #198754;
  padding: 0.5rem;
  font-size: 0.9rem;
  color: #495057;
}

.dialogReview .container .evaluation-table td input {
  padding: 5px;
  width: 90%;
  border-radius: 5px;
}

.dialogReview .container .evaluation-table select {
  width: 100%;
  padding: 0.3rem;
  border: 1px solid #198754;
  border-radius: 5px;
  font-size: 0.9rem;
  background-color: #e9f7ec;
  transition: background-color 0.3s ease;
}

.dialogReview .container .evaluation-table select option[value="1"] {
  background-color: #d4edda;
  color: #155724;
}

.dialogReview .container .evaluation-table select option[value="2"] {
  background-color: #ffeeba;
  color: #856404;
}

.dialogReview .container .evaluation-table select option[value="3"] {
  background-color: #f8d7da;
  color: #721c24;
}

/* Evaluation Metrics Styling */
.dialogReview .container .evaluation-metrics {
  margin-top: 1rem;
}

.dialogReview .container .evaluation-metrics p {
  font-size: 1rem;
  font-weight: bold;
  color: #198754;
  margin-bottom: 0.5rem;
}

.dialogReview .container .evaluation-metrics .radio-group {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.dialogReview .container .evaluation-metrics .radio-group label {
  font-size: 0.9rem;
  padding: 0.3rem 1rem;
  border-radius: 15px;
  border: 1px solid #198754;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.dialogReview .container .evaluation-metrics .radio-group input[type="radio"] {
  display: none;
}

.dialogReview
  .container
  .evaluation-metrics
  .radio-group
  input[type="radio"]:checked
  + label {
  background-color: #198754;
  color: #fff;
}

.dialogReview .container .Evaluate {
  height: 200px;
}

/* Evaluate Textarea Styling */
.dialogReview .container .Evaluate textarea {
  border: 2px solid #198754;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 0.5rem;
  resize: none;
  color: #495057;
}

/* Button Styling */
.dialogReview .btn {
  background-color: #198754;
  color: #fff;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dialogReview .btn:hover {
  background-color: #145c3b;
}

.dialogReview .btn1 {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.dialogReview .btn1 i {
  font-size: 1.5rem;
  color: #198754;
  transition: color 0.3s ease;
}

.dialogReview .btn1 i:hover {
  color: #145c3b;
}

.evaluation-table th,
.evaluation-table td {
  width: calc(100% / 3);
}

.Evaluate .tox-tinymce {
  height: 250px !important;
}

.control {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin: 10px;
}

.control label {
  height: 100%;
  padding: 10px;
  margin-right: 10px;
}

.control #importButton {
  margin-right: 20px;
}

#showAllStudents .boxFeedBack tr th:nth-child(1) {
  width: 15%;
}

#showAllStudents .boxFeedBack tr th:nth-child(4),
#showAllStudents .boxFeedBack tr th:nth-child(3) {
  width: 15%;
}

.list-students {
  max-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.list-students .item {
  align-items: center;
  border: 0.5px solid #198754;
  border-radius: 10px;
  padding: 5px;
  width: 90%;
}
.list-students .item p {
  margin: 0;
}
.list-students .item .btn {
  background-color: red;
  color: white;
  padding: 0;
}

.list-students .item .btn:hover {
  background-color: #ac5e5e;
}

.d-none {
  display: none !important;
}
