<footer class="text-center">
  <div class="container">
    <p class="mb-0">
      Copyright ©
      <script>
        document.write(new Date().getFullYear());
      </script>
      T-Smart - Hệ thống thi trực tuyến
    </p>
  </div>
</footer>
