<%- include('comon/header') %>
<!-- Main -->
<div class="main">
  <%- include('comon/topBarSearch') %>
  <style>
    .container {
      padding: 30px;
    }
    h5 {
      background-color: rgba(26, 25, 25, 0.687);
      color: rgb(237, 241, 18);
      border-radius: 10px;
      padding: 10px 0;
      text-align: center;
    }
    h5:hover {
      cursor: pointer;
      background-color: #4a95e0;
      color: white;
    }
  </style>

  <!--Main-->
  <div class="row container mx-auto">
    <h5>Tạo bài viết</h5>
    <div class="formCategory col-12">
      <form
        id="formNews"
        class="row col-12 mx-auto g-3 needs-validation123"
        novalidate
      >
        <div class="col-12">
          <label for="imagePost" class="form-label"> Hình ảnh bài viết </label>
          <input
            type="file"
            class="form-control"
            id="imagePost"
            name="imagePost"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Vui lòng nhập hình ảnh</div>
        </div>
        <div class="col-12">
          <label for="contentNews" class="form-label">
            Nội dung bài viết
          </label>
          <textarea
            rows="10"
            class="form-control"
            id="contentNews"
            name="contentNews"
            required
          ></textarea>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Vui lòng nhập nội dung bài viết</div>
        </div>

        <!-- Submit form -->
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Tạo bài viết</button>
        </div>
        <!--  -->
      </form>
    </div>
  </div>
  <!-- The end body main -->
  <script type="module" src="/JS/createNews.js"></script>
  <%- include('comon/footer') %>
</div>
