
<%- include('comon/header') %>
<style>
  .main {
    padding: 30px;
  }
    h5 {
      background-color: rgba(25, 135, 84, 1);
      color: white;
      border-radius: 5px;
      padding: 15px;
      text-align: center;
    }
    .table thead tr th {
      background-color: rgba(25, 135, 84, 1);
      color: white;
    }
</style>
<!-- Main -->
<div class="main">
  <%- include('comon/topBarSearch') %>
<h5>Danh mục game</h5>
<form
  id="formCourse"
  class="row col-10 mx-auto g-3 needs-validation"
  novalidate
>
  <div class="col-12">
    <label for="nameCategory" class="form-label"> Tên danh mục game </label>
    <input
      type="text"
      class="form-control"
      id="nameCategory"
      name="nameCategory"
      required
    />
    <div class="valid-feedback">Looks good!</div>
    <div class="invalid-feedback">Vui lòng nhập danh mục game</div>
  </div>
  <!-- Image Course -->
  <div class="col-12">
    <label for="imageCategory" class="form-label">Logo Category</label>
    <input
      type="file"
      class="form-control"
      id="imageCategory"
      name="imageCategory"
      required
    />
    <div class="invalid-feedback">
      Vui lòng chọn đúng đường dẫn với đuổi png hoặc jepg
    </div>
  </div>

  <!-- Submit form -->
  <div class="col-12">
    <button class="btn btn-success" id="createCate" type="submit">Create Category</button>
  </div>
  <!--  -->
</form>
</div>
  <!-- The end body main -->
  <script type="module" src="/JS/createCategoryQuiz.js"></script>
  <%- include('comon/footer') %>
</div>
