<%- include('comon/header') %>
<!-- Main -->
<div class="main">
  <%- include('comon/topBarSearch') %>
  <style>
    .container {
      padding: 30px;
    }
    h5 {
      background-color: rgba(25, 135, 84, 1);
      color: white;
      border-radius: 5px;
      padding: 15px;
      text-align: center;
    }
  </style>

  <!--Main-->
  <div class="row container mx-auto">
    <h5>Tạo bài viết</h5>
    <div class="formCategory col-12">
      <form
        id="formNews"
        class="row col-12 mx-auto g-3 needs-validation123"
        novalidate
      >
        <div class="col-12">
          <label for="imagePost" class="form-label"> Hình ảnh bài viết </label>
          <input
            type="file"
            class="form-control"
            id="imagePost"
            name="imagePost"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Vui lòng nhập hình ảnh</div>
        </div>
        <div class="col-12">
          <label for="contentNews" class="form-label">
            Nội dung bài viết
          </label>
          <textarea
            rows="10"
            class="form-control"
            id="contentNews"
            name="contentNews"
            required
          ></textarea>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Vui lòng nhập nội dung bài viết</div>
        </div>

        <!-- Submit form -->
        <div class="col-12">
          <button class="btn btn-success" type="submit">Tạo bài viết</button>
        </div>
        <!--  -->
      </form>
    </div>
  </div>
  <!-- The end body main -->
  <script type="module" src="/JS/createNews.js"></script>
  <%- include('comon/footer') %>
</div>
