<%- include('./../comon/header') %>
<!-- Main -->
<div class="main">
  <%- include('./../comon/topBarSearch') %>
  <!-- Main -->
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
    }
    th {
      background-color: #f2f2f2;
    }
    h5 {
      background-color: rgba(25, 135, 84, 1);
      color: white;
      border-radius: 5px;
      padding: 15px 0;
      text-align: center;
    }
    h5:hover {
      cursor: pointer;
      background-color: #4a95e0;
      color: white;
    }
    #fromDate,
    #toDate {
      border: none;
      width: 200px;
    }
    .shecheduleControle .item {
      padding: 5px;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .shecheduleExport table tbody tr th {
      background-color: rgba(25, 135, 84, 1);
      color: white;
    }

    #attendanceTable tr {
      height: 50px;
    }
    #attendanceTable tr td {
      font-weight: 500;
      padding: 0;
    }

    @media (min-width: 768px) {
      .modal-dialog {
        max-width: 65vw;
        margin-right: auto;
        margin-left: auto;
      }
    }
  </style>

  <div class="containt shecheduleExport p-3">
    <h5>THỐNG KÊ LỊCH HỌC - TSMART</h5>
    <div class="mt-3 mb-3"></div>
    <div class="shecheduleControle d-flex mx-5 justify-content-around">
      <div class="item d-flex align-items-center">
        <label for="shift">Ca:</label>
        <select class="w-100" id="shift">
          <option value="1">1 (7h30-9h)</option>
          <option value="2">2 (9h-10h30)</option>
          <option value="3">3 (14h-15h30)</option>
          <option value="4">4 (17h-18h30)</option>
          <option value="5">5 (18h30-20h)</option>
          <option value="6">6 (19h30-21h)</option>
        </select>
      </div>
      <div class="item d-flex align-items-center">
        <label for="fromDate">Từ ngày:</label>
        <input type="date" id="fromDate" />
      </div>
      <div class="item d-flex align-items-center">
        <label for="toDate">Đến ngày:</label>
        <input type="date" id="toDate" />
      </div>
      <button id="export" class="btn btn-success">
        <i style="pointer-events: none" class="fa-solid fa-file-export"></i>
        <span>Export </span>
      </button>
    </div>

    <table class="mt-3">
      <tr>
        <th>STT</th>
        <th>Họ và tên</th>
        <th>Có mặt</th>
        <th>Vắng mặt</th>
        <th>Chức năng</th>
      </tr>
      <tbody id="attendanceTable">
        <td style="text-align: center" colspan="5">
          <p style="margin-bottom: 0">
            Chưa có dữ liệu cho khung thời gian này
          </p>
        </td>
      </tbody>
    </table>
  </div>
  <!-- Popup -->
  <div
    class="modal fade"
    id="editModal"
    tabindex="-1"
    aria-labelledby="editModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h6>Danh sách các buổi học của học sinh</h6>
          <button
            type="button"
            class="btn-close"
            id="cancelPopup"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="p-4 d-flex justify-content-around align-items-center">
          <div class="item mx-1">
            <label for="fullName"> Họ và tên </label>
            <strong id="fullName"></strong>
          </div>
          <div class="item mx-1">
            <label for="phoneC"> SĐT Phụ Huynh </label>
            <strong id="phoneC"></strong>
          </div>
          <div class="item mx-1">
            <label for="studyC"> Ca học </label>
            <strong id="studyC"></strong>
          </div>
        </div>

        <div class="modal-body">
          <table class="pt-3">
            <tr>
              <th colspan="5">Danh sách các buổi vắng học</th>
            </tr>
            <tbody id="absentTable">
              <td colspan="5">
                <p>Không có dữ liệu</p>
              </td>
            </tbody>
          </table>
          <!-- Đi học -->
          <table class="mt-4">
            <tr>
              <th colspan="5">Danh sách các buổi đi học</th>
            </tr>
            <tbody id="presentTable">
              <td colspan="5">
                <p>Không có dữ liệu</p>
              </td>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            id="cancelPopup2"
            class="btn btn-primary"
            data-bs-dismiss="modal"
          >
            Đóng
          </button>
        </div>
      </div>
    </div>
  </div>

  <script type="module" src="/JS/exportSchedule.js"></script>
  <%- include('./../comon/footer') %>
</div>
