<%- include('./../comon/header') %>

<div class="main">
  <%- include('./../comon/topBarSearch') %>
  <!-- Main -->
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    .sheduleTeacher {
      margin: 0 auto;
      padding: 20px;
      height: 85vh;
      overflow: scroll;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 2px 2px 12px #aaa;
      margin: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }
    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
    }
    th {
      background-color: #f2f2f2;
    }
    h5 {
      background-color: rgba(25, 135, 84, 1);
      color: white;
      border-radius: 5px;
      padding: 15px 0;
      text-align: center;
    }
    h5:hover {
      cursor: pointer;
      background-color: #4a95e0;
      color: white;
    }
    .sheduleControler {
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-evenly;
      margin: 10px auto;
      width: 60vw;
    }
    .sheduleControler .item {
      margin: 0 10px;
      justify-content: space-evenly;
    }
    /*  */
    tr td:nth-child(3) input {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
    tr td:nth-child(4) input {
      width: 20px;
      height: 20px;
      cursor: pointer;
      color: #d20606;
    }
    tr td:nth-child(4) input:checked {
      background-color: #d20606;
    }
    .sheduleControler .item {
      padding: 5px;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .sheduleControler .item h6 {
      margin-bottom: 0;
    }

    /*  */

    /* Custom checkbox */
    .switch {
      position: relative;
      display: inline-block;
      width: 130px;
      height: 34px;
      border-radius: 10px;
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #d20606;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 10px;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      border-radius: 10px;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    input:checked + .slider {
      background-color: #07cb56;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #07cb56;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(95px);
      -ms-transform: translateX(95px);
      transform: translateX(95px);
    }
    .slider {
      text-align: center;
    }
    .slider small {
      line-height: 34px;
      font-weight: 700;
      color: white;
      text-transform: uppercase;
    }
    .present {
      color: rgb(40, 37, 37);
    }
    .sheduleTeacher table tbody tr th {
      background-color: rgba(25, 135, 84, 1);
      color: white;
    }

    #contentTable .item-child {
      height: 40px;
    }
    #contentTable .item-child td {
      height: 40px;
      padding: 0;
    }
    #contentTable .item-child td:nth-child(2) {
      font-weight: 500;
    }
  </style>
  <div class="sheduleTeacher p-5">
    <h5>Hệ thống điểm danh trung tâm Tsmart</h5>
    <div class="sheduleControler mt-4">
      <div class="item">
        <h6>Ngày <%= date %></h6>
      </div>
      <div class="item flex">
        <label for="shift">Ca:</label>
        <select id="shift">
          <option value="1">1 (8h-9h30)</option>
          <option value="2">2 (9h30-11h)</option>
          <option value="3">3 (14h-15h30)</option>
          <option value="4">4 (17h-18h30)</option>
          <option value="5">5 (18h30-20h)</option>
        </select>
      </div>
      <div class="item flex">
        <label for="day">Thứ:</label>
        <select id="day" disabled>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">Chủ nhật</option>
        </select>
      </div>

      <button class="btn btn-success" id="saveInfor">Lưu thông tin</button>
    </div>

    <table>
      <tr>
        <th>STT</th>
        <th>Họ và tên</th>
        <th>Có Mặt</th>
        <th>Vắng mặt</th>
        <th>Lý Do</th>
      </tr>
      <!--BODY -->
      <tbody id="contentTable">
        <tr>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>
            <label class="switch">
              <input type="checkbox" checked />
              <span class="slider round">
                <small>Absent</small>
              </span>
            </label>
          </td>
          <td>1</td>
        </tr>
        <td colspan="5">
          <p>Không có dữ liệu</p>
        </td>
      </tbody>
      <!-- The end -->
    </table>
  </div>
  <div id="toasts"></div>
  <script type="module" src="/JS/manageTeacherScheducle.js"></script>
  <%- include('./../comon/footer') %>
</div>
