<%- include('./../comon/header') %>
<!-- Main -->
<div class="main">
  <%- include('./../comon/topBarSearch') %>
  <!-- Main -->
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
    }
    th {
      background-color: #f2f2f2;
    }
    h5 {
      background-color: #4a95e0;
      color: white;
      border-radius: 10px;
      padding: 10px 0;
      text-align: center;
    }
    h5:hover {
      cursor: pointer;
      background-color: #4a95e0;
      color: white;
    }
    .sheduleControler {
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-evenly;
      margin: 10px auto;
      width: 60%;
    }
    .sheduleControler .item {
      margin: 0 10px;
      justify-content: space-evenly;
    }
    /*  */
    tr td:nth-child(3) input {
      cursor: pointer;
    }
    tr td:nth-child(4) input {
      cursor: pointer;
    }
    /*  */
  </style>
  <!--  -->
  <div class="sheduleTeacher p-5">
    <h5>Hệ thống điểm danh trung tâm Tsmart</h5>
    <div class="sheduleControler mt-4">
      <h6>Ngày <%= date %></h6>
      <div class="item flex">
        <label for="shift">Ca:</label>
        <select id="shift">
          <option value="1">1 (8h-9h30)</option>
          <option value="2">2 (9h30-11h)</option>
          <option value="3">3 (17h-18h30)</option>
          <option value="4">4 (18h30-20h)</option>
        </select>
      </div>
      <div class="item flex">
        <label for="day">Thứ:</label>
        <select id="day" disabled>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">Chủ nhật</option>
        </select>
      </div>

      <button class="btn btn-success" id="saveInfor">Lưu thông tin</button>
    </div>

    <table>
      <tr>
        <th>STT</th>
        <th>Họ và tên</th>
        <th>Có mặt</th>
        <th>Vắng mặt</th>
        <th>Lý Do</th>
      </tr>
      <!--BODY -->
      <tbody id="contentTable">
        <td colspan="5">
          <p>Không có dữ liệu</p>
        </td>
      </tbody>
      <!-- The end -->
    </table>
  </div>
  <div id="toasts"></div>
  <script type="module" src="/JS/manageTeacherScheducle.js"></script>
  <%- include('./../comon/footer') %>
</div>
