<%- include('comon/header') %>
<!-- Main -->
<section>
  <div class="main container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-3"></div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 align-items-center ">
        <div class="main-img w-100 h-75 text-center">
          <img src="/image/403.png" alt="Main" class="img-fluid pb-3 " />
          <h2>Page Forbidden</h2>
          <p class="main-description pt-2">
            Chúng tôi xin lỗi bạn không có quyền truy cập vào tài nguyên này 
          </p>
          <button class="btn btn-sz-primary">
            <a href="/admin/auth">Trở về trang chủ</a>
          </button>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-3"></div>
    </div>
  </div>
</section>

</body>
</html>